
.odin-recipes {
  color: rgb(89, 230, 150);
  background-color: grey;
  text-align: center;
  font-family: "Garamond", "Times New Roman", sans-serif;
}


.salad-link {
  color: rgb(83, 80, 253);
  font-family: "Garamond", "Times New Roman", sans-serif;
}


.bread-link {
  color: rgb(255, 235, 80);
  font-family: "Garamond", "Times New Roman", sans-serif;
}

.muffins-link {
  color: rgb(248, 63, 63);
  font-family: "Garamond", "Times New Roman", sans-serif;
}


